@import '../../assets/variables/Variables.module.scss';

.container {
    width: 100%;
    font-family: $fontFamily;
}

.table {
    table-layout: fixed;
    border-collapse: collapse;
    border: 1px solid black;

    &>thead>tr>th {
        &:nth-child(1) {
            width: 30%;
        }

        &:nth-child(2) {
            width: 30%;
        }

        &:nth-child(3) {
            width: 30%;
        }

        &:nth-child(4) {
            width: 10%;
        }
    }

    // width: 100%;

    // &__header {
    //     height: 30px;
    //     line-height: 30px;
    //     font-weight: bolder;
    //     background-color: $customRed;
    //     box-sizing: border-box;
    //     border: 1px solid black;

    //     &>tr>th {
    //         width: 100%;
    //         border-right: 1px solid black;
    //         text-align: center;

    //         &:first-child {
    //             width: 20%;
    //         }

    //         &:last-child {
    //             border-right: 1px solid black;
    //         }
    //     }
    // }

    // &__title {
    //     margin-bottom: 0px;
    //     text-align: center;
    //     font-size: x-large;
    //     font-weight: bolder;
    // }



    // &__line {
    //     display: flex;

    //     &>div {
    //         width: 100%;
    //         border: 1px solid black;
    //         border-top: none;
    //         border-right: none;
    //         text-align: center;

    //         &:first-child {
    //             width: 20%;
    //         }

    //         &:last-child {
    //             border-right: 1px solid black;
    //         }
    //     }
    // }
}

// вынести в миксин