@import '../../assets/variables/Variables.module.scss';

.container {
    width: 100%;
    font-family: $fontFamily;
}

.table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border: $tableBorder;

    &>thead>tr>th {
        border: $tableBorder;

        &:nth-child(1) {
            width: 20%;
        }

        &:nth-child(2) {
            width: 30%;
        }

        &:nth-child(3) {
            width: 30%;
        }

        &:nth-child(4) {
            width: 20%;
        }
    }

    &__title {
        padding: 10px;
        font-weight: bold;
        font-size: larger;
        letter-spacing: 2px;
        caption-side: top;
        color: white;
        background-color: $customRedDarker;
    }
}

thead {
    background-color: $customRed;
}

th,
td {
    padding: 10px;
}