@import '../../assets/variables/Variables.module.scss';

.button {
    @include innerCardButtons;
    background-color: $customRed;

    &:hover {
        background-color: $customRedDarker;
    }
}

.translation {
    font-weight: bolder;
    font-size: x-large;

    &:hover {
        cursor: pointer;
        color: $customGreenDarker;
        transition: all 0.5s;
    }
}