@import '../../assets/variables/Variables.module.scss';

.card {
    @include cardView;
    margin: 1%;
    font-family: $fontFamily;

    &__word {
        flex: 1 0 200px;
        height: 50px;
        text-align: center;

        line-height: 50px;
        font-weight: bolder;
        font-size: x-large;
    }

    &__transcription {}

    &__theme {
        flex: 1 0 200px;
        height: 50px;
        text-align: center;
        line-height: 50px;
    }
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}