@import '../../assets/variables/Variables.module.scss';

.line {
    width: 100%;

    &>td {
        padding: 5px;
        text-align: center;
        border: $tableBorder;

        &:nth-child(1) {
            width: 20%;
        }

        &:nth-child(2) {
            width: 30%;
        }

        &:nth-child(3) {
            width: 30%;
        }

        &:nth-child(4) {
            width: 20%;
        }
    }
}

.input {
    width: 70%;
    border: 1px solid $customYellow;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;

    &:hover {
        background-color: $customYellow;
        transition: all 0.5s;
    }
}

.red {
    width: 70%;
    border: 1px solid $customRed;
    border-radius: 5px;
    background-color: $customRed;
    cursor: pointer;
    text-align: center;
}

.buttons {
    align-items: center;
}