@import '../../assets/variables/Variables.module.scss';

.button {
    position: relative;
    width: 60px;
    height: 30px;
    padding: 8px;
    margin-right: 10px;
    background-color: $customGreen;
    color: white;
    font-size: small;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;

    &:hover {
        cursor: pointer;
        font-weight: bolder;
        color: black;
        transition: all 0.5s;

        &::before {
            content: "\2714";
            position: absolute;
            left: 3px;
            color: black;
            transition: all 0.5s;
        }
    }

    &:disabled {
        background-color: $customRedDarker;
        color: grey;

        &:hover {
            cursor: default;

            &::before {
                content: none;
            }
        }
    }
}