@import '../../assets/variables/Variables.module.scss';

.header {
    box-sizing: border-box;
    position: fixed;
    width: 100vw;
    min-height: fit-content;
    max-height: max-content;
    font-family: $fontFamily;
    background-color: rgba(255, 255, 255, 0.623);
}

.title {
    margin: 0px;
    padding: 3% 0px;

    &__container {
        text-align: center;
    }

    &_red {
        color: $customRed;
    }
}