@import '../../assets/variables/Variables.module.scss';

.title {
    margin: 0px;
    margin-bottom: 20px;
    color: $customRed;
    text-align: center;
    text-shadow: 5px 3px 3px rgb(182, 182, 182);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 475px;
    margin: 0 auto;
}

.button {
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    outline-style: none;
    border-radius: 100px;
    border: none;
    color: white;
    font-weight: bolder;
    font-size: x-large;
    background-color: $customRed;
    cursor: pointer;

    &:hover {
        transition: 0.5s all;
        background-color: $customRedDarker;
    }

    &__container {
        flex-grow: 0;
    }
}

.count__container {
    flex-grow: 2;
    text-align: center;
    padding: 15px;
    font-weight: bolder;
    font-size: large;
}

.card,
.error,
.loading {
    @include cardView;
}

.info {
    text-align: center;
    font-weight: bolder;
    font-size: larger;
    font-family: $fontFamily;
}

.error {
    color: $customRed;

    &__details {
        font-weight: normal;
        font-size: medium;
    }
}