@import '../../assets/variables/Variables.module.scss';

.header {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    min-height: 5vh;
    max-height: fit-content;

    font-family: $fontFamily;

    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    z-index: 1;
}

.info {
    display: flex;
    align-items: center;

    font-size: x-large;

    @media screen and (max-width: 768px) {
        display: none;
    }
}

.h1 {
    margin: 0px;
    margin-left: 10px;
    font-size: xx-large;
    font-weight: bolder;
    color: $customRed;
}